<template>
  <div class="home">
    <p>
      那个的v旅客的少女你当时法国v可能的法律什么地方该考虑微软明天发的上班了吗v微软让对方美国v
    </p>
  </div>
</template>
<script lang="ts"></script>
<style lang="less">
// @import "@/styles/var.less";
p {
  width: 100px;
  .text-lines(2);
}
</style>
